@page "/Search"
@inject GlobalService GlobalService

<div class="home-page">
    @if (GlobalService.savedNumbers.Count > 0)
    {
        @foreach (var number in GlobalService.savedNumbers)
        {
            <div class="card text-center">
                <div class="card-header">
                    <h5 style="font-weight: bold;">Number History</h5>
                </div>
                <div class="card-body">
                    <ul class="=card-list" style="list-style-type: none;">
                        <li><b>Valid:</b> @number.valid</li>
                        <li><b>Number:</b> @number.number</li>
                        <li><b>International Format:</b> @number.international_format</li>
                        <li><b>Country Prefix</b> @number.country_prefix</li>
                        <li><b>Country Code:</b> @number.country_code</li>
                        <li><b>Country Name:</b> @number.country_name</li>
                        @* <li><b>Location:</b> @numberValidationData.location</li> *@
                        <li><b>Carrier:</b> @number.carrier</li>
                        <li><b>Line Type:</b> @number.line_type</li>
                    </ul>
                    <a href="https://www.google.com/" class="btn btn-primary">Google</a>
                </div>
                <div class="card-footer text-body-secondary">
                    De nada.
                </div>
            </div>
        }
    }
    else
    {
        <p style="text-align: center;">No saved searches yet.</p>
    }
</div>

@code {
    /*public List<NumberValidationData> SavedNumbers { get; set; } = new();
    private void DeleteNumber(NumberValidationData number)
    {
        SavedNumbers.Remove(number);

        // Notifies the parent component of the change in the list
        StateHasChanged();
        }*/
}
